body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI',
    sans-serif, 'Helvetica Neue', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.vertical-center {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.prepend-dropdown {
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}

.color-danger {
  color:#cc2900;
}

.color-green {
  color:#00b300;
}

.color-blue {
  color:#467fcf;
}

.margin-card {
  margin-bottom:15px;
}